.flash-message {
    color: white;
    transition: 0.3s;
    padding: 20px;
    margin: 10px 10px 10px 0px;
    width: 100%;
}

.alert {
    background-color: #f44336;
}

.info {
    background-color: #2196F3;
}

.success {
    background-color: #4CAF50;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}