#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 1em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    font-style: italic;
}

.link {
    color: rgb(12, 22, 21);
}

label {
    font-family: 'Ubuntu', sans-serif;
}

input[type="text"], input[type="password"], input[type="email"] {
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(13, 142, 194, 0.07);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover {
    box-shadow: inset 1px 2px 8px rgba(13, 142, 194, 0.07);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(13, 142, 194);
    box-shadow: inset 1px 2px 4px rgba(13, 142, 194, 0.07), 0px 0px 8px rgba(13, 142, 194, 0.07);
}

input[type="submit"] {
    border-color: rgba(13, 142, 194, 0.07);
    width: 9em;
    height: 4em;
    font-family: 'Ubuntu', sans-serif;
}

