#main_title {
    font-family: 'Ubuntu';
    font-size: 50px;
}

.warning {
    color: red;
    font-family: 'Courier Prime';
}

.tips {
    font-size: 20px;
}

.flash-message {
    color: white;
    transition: 0.3s;
    padding: 20px;
    margin: 10px;
}
.alert {
    background-color: #f44336;
}
.info {
    background-color: #2196F3;
}
.success {
    background-color: #4CAF50;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

input[value="text"] {
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(13, 142, 194, 0.07);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
  }
  input[value="text"]:hover {
    box-shadow: inset 1px 2px 8px rgba(13, 142, 194, 0.07);
  }
  input[value="text"]:focus {
    color:rgb(13, 142, 194);
    border: 1px solid rgb(13, 142, 194);
    box-shadow: inset 1px 2px 4px rgba(13, 142, 194, 0.07), 0px 0px 8px rgba(13, 142, 194, 0.07);
  }
