#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 1em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    font-style: italic;
}

.parent {
    width: 100%;
}

.left {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    min-height: 200px;
}

.right {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    min-height: 200px;
}

@media only screen and (max-width: 500px) {
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .rwd-table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40em
}

@media only screen and (max-width: 600px) {
    .center {
        width: 20em;
    }
}


.link {
    color: rgb(12, 22, 21);
}

label {
    font-family: 'Ubuntu', sans-serif;
}

input[type="text"] {
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(13, 142, 194, 0.07);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}

input[type="text"]:hover {
    box-shadow: inset 1px 2px 8px rgba(13, 142, 194, 0.07);
}

input[type="text"]:focus {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(13, 142, 194);
    box-shadow: inset 1px 2px 4px rgba(13, 142, 194, 0.07), 0px 0px 8px rgba(13, 142, 194, 0.07);
}

input[type="submit"] {
    border-color: rgba(13, 142, 194, 0.07);
    width: 9em;
    height: 4em;
    font-family: 'Ubuntu', sans-serif;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    min-width: 3em;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}