{% extends "base.html" %}
{% block head_title %}Dashboard{% endblock head_title %}

{% block page_name %}dashboard{% endblock page_name %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="parent">
    <div class="left">
        <div id="profile">
            <span><b>Username: </b></span>
            <p id="username">{{ profile["username"] }}</p>
            <span><b>Email: </b></span>
            <p id="email">{{ profile["email"] }}</p>
            <span><b>API key: </b></span>
            <pre><p id="api_key">{{ profile["api_key"] }}</p></pre>
        </div>
        <hr>
        <div id="links">
            <p><a href="/" class="link">Home Page</a></p>
            <p><a href="/logout" class="link" style="color: red;">Logout</a></p>
        </div>
    </div>
    <div class="right">
        <div class="rwd-table">
            <table style="width: 100%; min-height: 20%;">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>From IP</th>
                        <th>Old</th>
                        <th>New</th>
                        <th>Use</th>
                    </tr>
                </thead>
                <tbody>
                    {% for url in urls %}
                    <tr>
                        {% for info in url %}
                        <td>{{ info }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="graph">
            <embed type="image/svg+xml" src={{ graph | safe }} />
        </div>
    </div>
</div>
{% endblock content %}