<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>shorten-url</title>
</head>
<body background="/static/img/background.jpg">
	<h1 id="main_title">Shorten URL</h1>
	<form action="/" method="post">
		<div>
			<span class="tips">Your URL: </span>
			<input type="text" name="url" value="https://">
		</div>
		<div>
			<span class="tips"><b>Custom Short Link: </b></span>
			<span class="tips">{{ server_name }}</span>
			<input type="text" name="new-url">
		</div>
		{{ recaptcha }}
		<input type="submit" value="submit">
		<div>
			<h3>Rule:</h3>
			<ul>
				<li>You can use alpha, '0123456789' and '-_'</li>
				<li>You can't use 'new', 'old', 'who', 'id', 'time' as short suffix</li>
			</ul>
		</div>
	</form>
</body>
</html>
