{% extends "base.html" %}
{% block head_title %}Shorten URL{% endblock head_title%}
{% block extra_script %}
<script>
	function copy_function() {
		var new_url = document.getElementById('new');
		var server_name = document.getElementById("server_name");
		var copy_button = document.getElementById('copy-button');
		new_url.addEventListener("copy", function (event) {
			event.preventDefault();
			event.clipboardData.setData("text/plain", server_name.innerText.concat(new_url.value));
		})
		document.execCommand("copy");
		copy_button.innerText = 'Copied';
	}
</script>
<script src="{{ url_for('static', filename = 'msg.js') }}"></script>
{% endblock extra_script %}

{% block page_name %}index{% endblock page_name %}
{% block title %}Shorten URL{% endblock title %}
{% block content %}
<div class="center">
	<form action="/" method="post">
		<div>
			<label for="old">Long URL: </label>
			<input type="text" name="old" placeholder="https://" required>
		</div>
		<div style="margin-bottom: 10px; margin-top: 10px;">
			<label for="new">Custom Short Link: </label>
			<i><span id="server_name">{{ server_name }}</span></i>
			<input type="text" name="new" id="new" required>
			<button onclick="copy_function();" id="copy-button" type="button">Copy</button>
		</div>
		{{ recaptcha }}
		<input type="submit" value="submit">
	</form>
	<div>
		<h3>Rule:</h3>
		<ul>
			<li>Alpha, '0123456789' and '-_' are allowed</li>
		</ul>
	</div>
</div>
{% endblock content %}