<!DOCTYPE html>
<html lang="en">

<head>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>shorten-url</title>
	<script>
		function copy_function() {
			var new_url = document.getElementById('new');
			var server_name = document.getElementById("server_name");
			var copy_button = document.getElementById('copy-button');
			new_url.addEventListener("copy", function (event) {
				event.preventDefault();
				event.clipboardData.setData("text/plain", server_name.innerText.concat(new_url.value));
			})
			document.execCommand("copy");
			copy_button.innerText = 'Copied';
		}
		function hide(obj) {
			obj.style.opacity = "0";
			setTimeout(() => {
				obj.style.display = "none";
			}, 300);
		}
	</script>
</head>

<body>
	<h1 id="main_title">Shorten URL</h1>
	<form action="/" method="post">
		<div>
			<span class="tips">Your URL: </span>
			<input type="text" name="old" placeholder="https://" required>
		</div>
		<div>
			<span class="tips"><b>Custom Short Link: </b></span>
			<i><span class="tips" id="server_name">{{ server_name }}</span></i>
			<input type="text" name="new" id="new" required>
			<button onclick="copy_function();" id="copy-button" type="button">Copy</button>
		</div>
		{{ recaptcha | safe }}
		<input type="submit" value="submit">
	</form>
	<div>
		<h3>Rule:</h3>
		<ul>
			<li>Alpha, '0123456789' and '-_' are allowed</li>
		</ul>
	</div>
	<div>
		{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
		{% for category, message in messages %}
		<div class="flash-message {{ category }}">
			<span class="closebtn" onclick="hide(this.parentElement)">&times;</span>
			<span>{{ message | safe }}</span> <!--TODO XSS test-->
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
	</div>
</body>

</html>