{% extends "base.html" %}
{% block head_title %}Login{% endblock head_title %}

{% block page_name %}login{% endblock page_name %}
{% block title %}Login{% endblock title %}
{% block content %}
<form action='login' method='POST'>
    <div>
        <div class="field">
            <label for="username"><b class="normal">Username:</b></label>
            <input type='text' name='username' id='username' placeholder='Username' required>
        </div>
        <div class="field">
            <label for="password"><b class="normal">Password:</b></label>
            <input type='password' name='password' id='password' placeholder='Password' required>
        </div>
        <input type='submit' name='submit' value="Login" class="submit-btn">
    </div>
</form>
<p>or <a href="/register" class="link">Register</a></p>
<p><a href="/" class="link">Home Page</a></p>
{% endblock content %}