<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="stylesheet" href="/static/messages.css" type="text/css">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet">
    <script src="/static/index.js"></script>
</head>
<body>
    <div>
        <form action='register' method='POST'>
            <div>
                <a href="/"><img src="/static/img/human.png" alt="human"></a>
            </div>
            <div>
                <label for="username"><b class="normal">Username:</b></label>
                <input type='text' name='username' id='username' placeholder='Username' required>
                <label for="password"><b class="normal">Password:</b></label>
                <input type='password' name='password' id='password' placeholder='Password' required>
                <label for="email"><b class="normal">Email:</b></label>
                <input type="email" name="email" id="email" placeholder="Email" required>
                {{ recaptcha }}
                <input type='submit' name='submit' value="Register" class="submit-btn">
                <span>or <a href="login">Login</a></span>
                {% if message %}
                <div class="alert {{ category }}" id="message">
                    <span class="closebtn" onclick="hide('message');">&times;</span>
                    {{ message | safe }}
                </div>
                {% endif %}
            </div>
        </form>
    </div>

</body>
</html>