{% extends "base.html" %}
{% block head_title %}Register{% endblock head_title %}
{% block title %}Register{% endblock title %}
{% block content %}
<form action="register" method="POST">
    <div>
        <!-- TODO beautify -->
        <label for="username"><b class="normal">Username:</b></label>
        <input type='text' name='username' id='username' placeholder='Username' required>
        <label for="password"><b class="normal">Password:</b></label>
        <input type='password' name='password' id='password' placeholder='Password' required>
        <label for="email"><b class="normal">Email:</b></label>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type='submit' name='submit' value="Register" class="submit-btn">
        <p>have an account? <a href="login">Login</a></p>
        {{ recaptcha }}
    </div>
</form>
{% endblock content%}