<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Password</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/messages.css">
    <script src="/static/index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet">
</head>
<body>
    <form action="/set-password" method="POST">
        <p class="normal">Hello, {{ user }}</p>
        <label for="password"><b class="normal">New Password:</b></label>
        <input type="password" name="new-password" id="new" required>
        <label for="password"><b class="normal">Retype New Password:</b></label>
        <input type="password" name="retype" id="retype" required>
        <input type="submit" value="Change Password">
    </form>
    <a href="/"><button class="normal-page" style="margin: 10px;">Home Page</button></a>
    {% if message %}
        <div class="alert {{ category }}" id="message">
            <span class="closebtn" onclick="hide('message');">&times;</span>
            {{ message | safe }}
        </div>
    {% endif %}
</body>
</html>