<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Using Not Allowed New URL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="warning">Using Not Allowed New URL</h1>
    <h2>You use forbidden strings, you can't use "new", "old", "id", and "who" as new URL.</h2>
    <button><a href="/" style="color: black; text-decoration-line: none;">back home</a></button>
</body>
</html>